{% extends "dashboard/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container mx-auto max-w-lg p-6">
  <h2 class="text-2xl dark:text-white font-bold mb-4">Upload PDF</h2>
  <form method="POST" enctype="multipart/form-data" class="p-4 rounded shadow-lg">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-4">
        <label class="block dark:text-gray-300 font-semibold">{{ field.label }}</label>
        {% if field.name == "title" %}
          {{ field|add_class:"w-full dark:bg-gray-900 dark:text-gray-300 rounded px-2 py-1"|attr:"placeholder:Optional..." }}
        {% else %}
          {{ field|add_class:"w-full dark:bg-gray-900 dark:text-gray-300 rounded px-2 py-1" }}
        {% endif %}
        {% if field.errors %}
          <p class="text-red-500 text-sm">{{ field.errors }}</p>
        {% endif %}
      </div>
    {% endfor %}

    <button class="bg-blue-500 cursor-pointer hover:bg-blue-600 text-white px-4 py-2 rounded">Upload</button>
  </form>
</div>
{% endblock %}
