
{% block content %}
<div class="shadow-md max-w-100 rounded-lg mt-4">
    <table class="w-full table-auto text-left ">
        <thead>
            <tr class="bg-gray-100 dark:bg-gray-800 dark:text-gray-300 text-gray-700">
                <th class="p-2">Rank</th>
                <th class="p-2">User</th>
                <th class="p-2">Eduscoin 🍪</th>
            </tr>
        </thead>
        <tbody>
            {% for user in rankings %}
                <tr class="hover:bg-gray-50 dark:hover:bg-gray-700 transition">
                    <td class="p-2">{% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 %} 🏆 {% else %} {{ forloop.counter }} {% endif %}</td>
                    <td class="p-2 dark:text-gray-300">{{ user.first_name }}</td>
                    <td class="p-2 font-semibold dark:text-gray-300">{{ user.score }} 🍪</td>
                </tr>
            {% empty %}
                <tr><td colspan="3" class="text-center p-4 text-gray-500">No members yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
